# Created by .ignore support plugin (hsz.mobi)
# Packages
*.egg-info

build/
/dist/
/.idea/
/examples/trustar.conf
# Installer logs
MANIFEST
trustar-python.iml
trustar/TruStar.pyc
trustar/__init__.pyc
venv
.DS_Store
trustar.conf.staging